---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
// @import "custom";     // 你添加的自定义文件

/* 头像样式 */
img.author__avatar {
  width: 140px;           /* 固定宽度 */
  height: 140px;          /* 固定高度 */
  border-radius: 0;       /* 正方形 */
  object-fit: cover;      /* 保持比例裁切 */
  border: 2px solid #666; /* 可选：添加边框 */
  display: block;         /* 确保图片行为一致 */
  margin: 0 auto;         /* 居中对齐 */
}

/* 调整 author__profile 容器 */
.author__profile {
  align-self: start;
  justify-self: start;
  padding-left: 10px;
  max-width: 260px;
  width: 260px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-align: center;     /* 确保头像居中 */
}

/* 中间内容 */
.page__content {
  max-width: 100%;
  width: 100%;
  /*overflow-wrap: break-word;*/
  /*word-break: break-all;*/
  /*position: relative;*/
  /*z-index: 1;*/
  /*overflow: hidden;*/
  font-size: 20px; /* 调整为较小的字号，例如14px */
  line-height: 1.5; /* 可选：调整行高，增强可读性 */
}

